.icon {
  --fill-icon-color: currentColor;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  color: var(--fill-icon-color);
  pointer-events: none;

  svg {
    width: 100%;
    height: 100%;
    display: block;
    fill: var(--fill-icon-color);
  }
}
