.highlightItem{
    padding: 0.5rem;
    border: 1px solid var(--alpha-night-10);
    border-radius: 8px;
    color: var(--black);


    .header{
        display: flex;
        align-items: self-start;
        margin-bottom: .25rem;


        .favicon{
            width: 16px;
            height: 16px;
            margin-right: 0.5rem;
        }

        h3{
            color: var(--black);
            font: var(--body-xs-semibold);
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .noteWrapper {
        margin: .5rem;
        padding: .5rem;
        border-radius: 8px;
        background-color: var(--alpha-night-10);
        display: flex;
        align-items: self-start;
        gap: .25rem;

    }

    .text{
        
    }

    .actionsContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: .25rem;

        .infoContainer {
            display: flex;
            align-items: center;
            gap: 0.25rem;

            .colorBadge {
                height: 12px;
                width: 12px;
                border-radius: 4px;
            }

            .dateStamp {
                color: var(--alpha-night-50);
                font: var(--body-xxs-semibold);
            }
        }

        .actions {
            display: flex;
            align-items: center;
            gap: .25rem;
            opacity: 0;
        }
    }

    &:hover {
        .actions {
            opacity: 1;
        }
    }
}