*,
::before,
::after {
  box-sizing: border-box;
}

:root,
:host {
  font-family: var(--font-family-sans-serif);
  font-weight: var(--font-weight-normal);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

:focus-visible {
  outline: var(--focus-ring-width) solid var(--focus-ring-color);
  outline-offset: var(--focus-ring-offset);
}

ol,
ul {
  list-style: none;
}

img,
svg,
video,
canvas,
picture {
  display: block;
  max-width: 100%;
}

input,
button,
select,
textarea {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
span {
  overflow-wrap: break-word;
}
