//#151b23 github dark bg

:root,
:host {

  --brand-purple: #5943b6;
  --brand-purple-secondary: #a989f5;
  --brand-orange-primary: #E24329;
  --brand-orange-secondary: #FC6D26;
  --brand-orange-tertiary: #FCA326;

  --color-neutral-900: #282828;
  --color-neutral-800: #424242;
  --color-neutral-700: #666;
  --color-neutral-600: #949494;
  --color-neutral-500: #b3b3b3;
  --color-neutral-400: #d1d1d1;
  --color-neutral-300: #e9e9e9;
  --color-neutral-200: #f5f5f5;
  --color-neutral-100: #fcfcfc;
  --color-neutral-0: #fff;

  --alpha-night-5: rgba(40, 40, 40, 0.05);
  --alpha-night-10: rgba(40, 40, 40, 0.1);
  --alpha-night-20: rgba(40, 40, 40, 0.2);
  --alpha-night-30: rgba(40, 40, 40, 0.3);
  --alpha-night-40: rgba(40, 40, 40, 0.4);
  --alpha-night-50: rgba(40, 40, 40, 0.5);
  --alpha-night-60: rgba(40, 40, 40, 0.6);
  --alpha-night-70: rgba(40, 40, 40, 0.7);
  --alpha-night-80: rgba(40, 40, 40, 0.8);
  --alpha-night-90: rgba(40, 40, 40, 0.9);
  --alpha-silver-5: hsla(0, 0%, 91%, 0.05);
  --alpha-silver-10: hsla(0, 0%, 91%, 0.1);
  --alpha-silver-20: hsla(0, 0%, 91%, 0.2);
  --alpha-silver-30: hsla(0, 0%, 91%, 0.3);
  --alpha-silver-40: hsla(0, 0%, 91%, 0.4);
  --alpha-silver-50: hsla(0, 0%, 91%, 0.5);
  --alpha-silver-60: hsla(0, 0%, 91%, 0.6);
  --alpha-silver-70: hsla(0, 0%, 91%, 0.7);
  --alpha-silver-80: hsla(0, 0%, 91%, 0.8);
  --alpha-silver-90: hsla(0, 0%, 91%, 0.9);
  --alpha-white-5: hsla(0, 0%, 100%, 0.05);
  --alpha-white-10: hsla(0, 0%, 100%, 0.1);
  --alpha-white-20: hsla(0, 0%, 100%, 0.2);
  --alpha-white-30: hsla(0, 0%, 100%, 0.3);
  --alpha-white-40: hsla(0, 0%, 100%, 0.4);
  --alpha-white-50: hsla(0, 0%, 100%, 0.5);
  --alpha-white-60: hsla(0, 0%, 100%, 0.6);
  --alpha-white-70: hsla(0, 0%, 100%, 0.7);
  --alpha-white-80: hsla(0, 0%, 100%, 0.8);
  --alpha-white-90: hsla(0, 0%, 100%, 0.9);

  //fonts
  --font-family-sans-serif: "Inter", sans-serif;

  --font-weight-normal: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --d1-regular: var(--font-weight-normal) 4.5rem / 5rem var(--font-family-sans-serif);
  --d1-semibold: var(--font-weight-semibold) 4.5rem / 5rem var(--font-family-sans-serif);
  --d1-bold: var(--font-weight-bold) 4.5rem / 5rem var(--font-family-sans-serif);
  --d2-regular: var(--font-weight-normal) 3.75rem / 4.25rem var(--font-family-sans-serif);
  --d2-semibold: var(--font-weight-semibold) 3.75rem / 4.25rem var(--font-family-sans-serif);
  --d2-bold: var(--font-weight-bold) 3.75rem / 4.25rem var(--font-family-sans-serif);
  --d3-regular: var(--font-weight-normal) 3rem / 3.5rem var(--font-family-sans-serif);
  --d3-semibold: var(--font-weight-semibold) 3rem / 3.5rem var(--font-family-sans-serif);
  --d3-bold: var(--font-weight-bold) 3rem / 3.5rem var(--font-family-sans-serif);

  --h1-regular: var(--font-weight-normal) 2.25rem / 2.75rem var(--font-family-sans-serif);
  --h1-semibold: var(--font-weight-semibold) 2.25rem / 2.75rem var(--font-family-sans-serif);
  --h1-bold: var(--font-weight-bold) 2.25rem / 2.75rem var(--font-family-sans-serif);
  --h2-regular: var(--font-weight-normal) 2rem / 2.5rem var(--font-family-sans-serif);
  --h2-semibold: var(--font-weight-semibold) 2rem / 2.5rem var(--font-family-sans-serif);
  --h2-bold: var(--font-weight-bold) 2rem / 2.5rem var(--font-family-sans-serif);
  --h3-regular: var(--font-weight-normal) 1.5rem / 2rem var(--font-family-sans-serif);
  --h3-semibold: var(--font-weight-semibold) 1.5rem / 2rem var(--font-family-sans-serif);
  --h3-bold: var(--font-weight-bold) 1.5rem / 2rem var(--font-family-sans-serif);

  --body-xl-regular: var(--font-weight-normal) 1.25rem / 1.75rem var(--font-family-sans-serif);
  --body-xl-italic: italic var(--font-weight-normal) 1.25rem / 1.75rem var(--font-family-sans-serif);
  --body-xl-semibold: var(--font-weight-semibold) 1.25rem / 1.75rem var(--font-family-sans-serif);
  --body-xl-semibold-italic: italic var(--font-weight-semibold) 1.25rem / 1.75rem var(--font-family-sans-serif);
  --body-xl-bold: var(--font-weight-bold) 1.25rem / 1.75rem var(--font-family-sans-serif);
  --body-xl-bold-italic: italic var(--font-weight-bold) 1.25rem / 1.75rem var(--font-family-sans-serif);

  --body-lg-regular: var(--font-weight-normal) 1.125rem / 1.5rem var(--font-family-sans-serif);
  --body-lg-italic: italic var(--font-weight-normal) 1.125rem / 1.5rem var(--font-family-sans-serif);
  --body-lg-semibold: var(--font-weight-semibold) 1.125rem / 1.5rem var(--font-family-sans-serif);
  --body-lg-semibold-italic: italic var(--font-weight-semibold) 1.125rem / 1.5rem var(--font-family-sans-serif);
  --body-lg-bold: var(--font-weight-bold) 1.125rem / 1.5rem var(--font-family-sans-serif);
  --body-lg-bold-italic: italic var(--font-weight-bold) 1.125rem / 1.5rem var(--font-family-sans-serif);

  --body-md-regular: var(--font-weight-normal) 1rem / 1.25rem var(--font-family-sans-serif);
  --body-md-italic: italic var(--font-weight-normal) 1rem / 1.25rem var(--font-family-sans-serif);
  --body-md-semibold: var(--font-weight-semibold) 1rem / 1.25rem var(--font-family-sans-serif);
  --body-md-semibold-italic: italic var(--font-weight-semibold) 1rem / 1.25rem var(--font-family-sans-serif);
  --body-md-bold: var(--font-weight-bold) 1rem / 1.25rem var(--font-family-sans-serif);
  --body-md-bold-italic: italic var(--font-weight-bold) 1rem / 1.25rem var(--font-family-sans-serif);

  --body-sm-regular: var(--font-weight-normal) 0.875rem / 1.125rem var(--font-family-sans-serif);
  --body-sm-italic: italic var(--font-weight-normal) 0.875rem / 1.125rem var(--font-family-sans-serif);
  --body-sm-semibold: var(--font-weight-semibold) 0.875rem / 1.125rem var(--font-family-sans-serif);
  --body-sm-semibold-italic: italic var(--font-weight-semibold) 0.875rem / 1.125rem var(--font-family-sans-serif);
  --body-sm-bold: var(--font-weight-bold) 0.875rem / 1.125rem var(--font-family-sans-serif);
  --body-sm-bold-italic: italic var(--font-weight-bold) 0.875rem / 1.125rem var(--font-family-sans-serif);

  --body-xs-regular: var(--font-weight-normal) 0.75rem / 1rem var(--font-family-sans-serif);
  --body-xs-italic: italic var(--font-weight-normal) 0.75rem / 1rem var(--font-family-sans-serif);
  --body-xs-semibold: var(--font-weight-semibold) 0.75rem / 1rem var(--font-family-sans-serif);
  --body-xs-semibold-italic: italic var(--font-weight-semibold) 0.75rem / 1rem var(--font-family-sans-serif);
  --body-xs-bold: var(--font-weight-bold) 0.75rem / 1rem var(--font-family-sans-serif);
  --body-xs-bold-italic: italic var(--font-weight-bold) 0.75rem / 1rem var(--font-family-sans-serif);

  --body-xxs-regular: var(--font-weight-normal) 0.625rem / 0.75rem var(--font-family-sans-serif);
  --body-xxs-italic: italic var(--font-weight-normal) 0.625rem / 0.75rem var(--font-family-sans-serif);
  --body-xxs-semibold: var(--font-weight-semibold) 0.625rem / 0.75rem var(--font-family-sans-serif);
  --body-xxs-semibold-italic: italic var(--font-weight-semibold) 0.625rem / 0.75rem var(--font-family-sans-serif);
  --body-xxs-bold: var(--font-weight-bold) 0.625rem / 0.75rem var(--font-family-sans-serif);
  --body-xxs-bold-italic: italic var(--font-weight-bold) 0.625rem / 0.75rem var(--font-family-sans-serif);
}

html.dark {
  --brand-purple: #8b74e8;
  --brand-purple-secondary: #c5aaff;

  --brand-orange-primary: #ff6b52;
  --brand-orange-secondary: #ff8b4d;
  --brand-orange-tertiary: #ffc266;


  --color-neutral-900: #f5f5f5;
  --color-neutral-800: #e9e9e9;
  --color-neutral-700: #d1d1d1;
  --color-neutral-600: #b3b3b3;
  --color-neutral-500: #949494;
  --color-neutral-400: #666;
  --color-neutral-300: #424242;
  --color-neutral-200: #303030;
  --color-neutral-100: #202020;
  --color-neutral-0: #121212;


  --alpha-night-5: rgba(255, 255, 255, 0.05);
  --alpha-night-10: rgba(255, 255, 255, 0.1);
  --alpha-night-20: rgba(255, 255, 255, 0.2);
  --alpha-night-30: rgba(255, 255, 255, 0.3);
  --alpha-night-40: rgba(255, 255, 255, 0.4);
  --alpha-night-50: rgba(255, 255, 255, 0.5);
  --alpha-night-60: rgba(255, 255, 255, 0.6);
  --alpha-night-70: rgba(255, 255, 255, 0.7);
  --alpha-night-80: rgba(255, 255, 255, 0.8);
  --alpha-night-90: rgba(255, 255, 255, 0.9);

  --alpha-silver-5: hsla(0, 0%, 25%, 0.05);
  --alpha-silver-10: hsla(0, 0%, 25%, 0.1);
  --alpha-silver-20: hsla(0, 0%, 25%, 0.2);
  --alpha-silver-30: hsla(0, 0%, 25%, 0.3);
  --alpha-silver-40: hsla(0, 0%, 25%, 0.4);
  --alpha-silver-50: hsla(0, 0%, 25%, 0.5);
  --alpha-silver-60: hsla(0, 0%, 25%, 0.6);
  --alpha-silver-70: hsla(0, 0%, 25%, 0.7);
  --alpha-silver-80: hsla(0, 0%, 25%, 0.8);
  --alpha-silver-90: hsla(0, 0%, 25%, 0.9);

  --alpha-white-5: rgba(40, 40, 40, 0.05);
  --alpha-white-10: rgba(40, 40, 40, 0.1);
  --alpha-white-20: rgba(40, 40, 40, 0.2);
  --alpha-white-30: rgba(40, 40, 40, 0.3);
  --alpha-white-40: rgba(40, 40, 40, 0.4);
  --alpha-white-50: rgba(40, 40, 40, 0.5);
  --alpha-white-60: rgba(40, 40, 40, 0.6);
  --alpha-white-70: rgba(40, 40, 40, 0.7);
  --alpha-white-80: rgba(40, 40, 40, 0.8);
  --alpha-white-90: rgba(40, 40, 40, 0.9);
}